<div id="app-home-wrapper">
  <app-wrapper>

    <div header>
      <header class="masthead" style="background-image: url('assets/home_Hero.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;">
        <div class="container banner">
            <div class="intro-text">
              <div class="intro-lead-in"><span><h1> Your search has come to an end! </h1></span></div>
              <div class="intro-heading">
                <span>Choose from any of the Executive<sup>TM </sup> brands below!</span>
              </div>
              <!-- <a 
                class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"   
                role="button" 
                href="#services">
                Tell me more
              </a> -->
            </div>
            <div class="links">
              <!-- tabs -->
              <div class="container" style="width: 100%; text-align: center; display: flex; justify-content: center; margin-top: 10px; margin-bottom: 10px;">
    
                <div style="width: 100%;">
                  <div class="row " style="margin: auto; justify-content: space-between;">
    
                    <a routerLink="/vehicles">
                      <div class="vehicles_tab menu_tabs">
                        <h1> 
                          <i class="material-icons">
                              directions_car
                          </i>
                          Vehicles </h1>
                      </div>
                    </a>
    
                    <mat-divider style="color: rgba(53, 59, 65, 0.81);" [vertical]="true"></mat-divider>
    
                    <a [routerLink]="[ '/machinery' ]">
                      <div class="machinery_tab menu_tabs" >
                        <h1> 
                          <i class="material-icons">
                            settings
                          </i>
                          Machinery </h1>
                      </div>
                    </a>
    
                    <mat-divider style="color: rgba(53, 59, 65, 0.81);" [vertical]="true"></mat-divider>
    
                    <a [routerLink]="[ '/properties' ]">
                      <div class="houses_tab menu_tabs">
                        <h1> 
                          <i class="material-icons">
                            home
                          </i>
                          Property </h1>
                      </div>
                    </a>
    
                  </div>
                </div>
              </div>
            </div>
        </div>
      </header>
    </div>

    <div credits>
      <div id="credits" style="display: flex; flex-direction: row; justify-content: space-evenly;">
        <div>
          <ul style="display: flex; flex-direction: column;">
            <h3> Company </h3>
            <span> About Us </span>
            <span> Careers </span>
            <span> Press </span>
            <span> Blog </span>
            <span> Engineering </span>
            <span> Legal </span>
            <span> Contact Us </span>
          </ul>
        </div>
        <div>
          <ul style="display: flex; flex-direction: column;">
            <h3> Executive Commercial </h3>
            <span> Buy Commercial Property </span>
            <span> Sell Commercial Property </span>
            <span> Brokers </span>
            <span> Research </span>
            <span> Financing </span>
            <span> Help Center </span>
          </ul>
          </div>
          <div>
            <ul style="display: flex; flex-direction: column;">
              <h3> Personal </h3>
              <span> Residential Homes </span>
              <span> Bank-owned Homes </span>
              <span> Foreclosures </span>
              <span> Agents </span>
              <span> Auction Calendar </span>
              <span> Help Center </span>
            </ul>
          </div>
      </div>
    </div>

  </app-wrapper>
</div>