#app-home-wrapper {
    // background-color: #dff3e4;
    height: 100%;
}
.navbar {
    position: sticky;    
}

nav a {
    color: white!important;
}

a {
    text-decoration: none;
}

.masthead {
    position: relative;
    height: 642px;
    
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;    
    height: inherit;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu_tabs h1 {
    width: 300px;
    height 90px;
}

.menu_tabs :hover {
    -webkit-box-shadow: 0px 0px 5px #000000;
    -moz-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    cursor pointer;
}

.menu_tabs i{
    -webkit-box-shadow: 0px 0px 0px #000000!important;
    -moz-box-shadow: 0px 0px 0px #000000!important;
    box-shadow: 0px 0px 0px #000000!important;
}

.machinery_tab h1 {
    background: rgba(0, 159, 253, 0.71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black!important;
}

.vehicles_tab h1 {
    background: rgba(124, 152, 133, 0.71);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black!important;
}

.houses_tab h1 {
    background: rgba(255, 166, 0, 0.71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black!important;
}

#credits {
    height: 250px;
    padding: 10px;
    background: #eaf0ce;
}
