<app-navbar>
  <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink='/admin/vehicle'>Vehicles</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink='/admin/machinery'>Machinery</a></li>
  <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink='/admin/property'>Properties</a></li>
</app-navbar>
