<div id="app-home-wrapper">
  
  <app-navbar>
    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/home">Home</a></li>
    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/home">About</a></li>
    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" routerLink="/home">Contact</a></li>
  </app-navbar>

  <ng-content select="[header]"></ng-content>
  
  <!-- <content>   -->
    <!-- YOᑌ ᑕᗩᑎ'T ᑕOᑭY AND ᑭᗩᔕTᕮ TᕼIᔕ ᗷᕮᑕᗩᑌᔕᕮ Oᖴ Tᕼᕮ ᑌᑎIᑫᑌᕮ ᖴOᑎT. -->
  <!-- </content> -->

  <ng-content select="[content]"></ng-content>

  <!-- Credits -->
  <ng-content select="[credits]"></ng-content>
  
  <app-footer></app-footer>
</div>