<div class="admin-body" >

  <app-admin></app-admin>

  <div class="container halves">

    <div class="half-1">
      <div class="content">
        <div id="menu">
          <button mat-raised-button>
            New vehicle
          </button>
          <button mat-raised-button>
            Edit vehicle
          </button>
        </div>
    
        <br/>
    
        <!-- create vehicle form -->
        <mat-card id="create-card">
          <mat-card-header>
            <mat-card-title>New</mat-card-title>
          </mat-card-header>
    
          <form id="v-input-form" [formGroup] = "newVehicleFormGroup" (ngSubmit)="createVehicle()" >
          <mat-card-content>
    
                <mat-form-field class="full-width">
          
                  <input matInput 
                    placeholder="Make" 
                    formControlName="make"
                    [(ngModel)]="newVehicleFormGroup.make"
                    >
          
                  <mat-hint>The make of the vehicle eg. Nissan</mat-hint>
                  <mat-error>
                    Make is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <br/><br/>
          
                <mat-form-field class="full-width">
          
                  <input matInput 
                      placeholder="Model" 
                      formControlName="model"
                      [(ngModel)]="newVehicleFormGroup.model"
                      >
          
                  <mat-hint>A model of the make entered above</mat-hint>
          
                  <mat-error >
                    Model is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <br/><br/>
          
                <mat-form-field class="full-width">

                    <mat-select placeholder="Body type" formControlName="bodyType" [(ngModel)]="newVehicleFormGroup.body">
                      <mat-option  *ngFor="let t of bodyType" [value]="t">
                        {{t}}
                      </mat-option>
                    </mat-select>
          
                  <mat-hint>Eg Sedan, Hatchback ...</mat-hint>
          
                  <mat-error>
                    Body is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
          
                <div id="yom-mileage">
                  <mat-form-field class="half-width">
          
                    <input matInput 
                        placeholder="Y-O-M" 
                        formControlName="year"
                        [(ngModel)]="newVehicleFormGroup.year"
                        >
          
                    <mat-hint>Year of manufacture</mat-hint>
          
                    <mat-error>
                      Year is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
          
                  <mat-form-field class="half-width">
          
                    <input matInput 
                        placeholder="Mileage"
                        formControlName="mileage"
                        [(ngModel)]="newVehicleFormGroup.mileage"
                        >
          
                    <mat-hint>In kilometers</mat-hint>
              
                    <mat-error>
                      Mileage is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
          
                <br/>
          
                <div id="yom-mileage">
                  <mat-form-field class="half-width">
          
                    <input matInput 
                        placeholder="Engine" 
                        formControlName="engine"
                        [(ngModel)]="newVehicleFormGroup.engine"
                        >
          
                    <mat-hint>Size of the engine</mat-hint>
          
                    <mat-error>
                      Engine is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
          
                  <mat-form-field class="half-width">
          
                    <input matInput 
                        placeholder="Price" 
                        formControlName="price"
                        [(ngModel)]="newVehicleFormGroup.price"
                        >
          
                    <mat-hint>Vehicle price</mat-hint>
          
                    <mat-error>
                      Price is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
          
                <br/>
                
                <div id="yom-mileage">
                  <mat-form-field class="half-width">
          
                    <mat-select placeholder="Transmission" formControlName="transmission" [(ngModel)]="newVehicleFormGroup.transmission">
                      <mat-option  *ngFor="let t of transmission" [value]="t">
                        {{t}}
                      </mat-option>
                    </mat-select>
          
                    <mat-hint>Manual or automatic</mat-hint>
              
                    <mat-error>
                      Transmission is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
          
                  <mat-form-field class="half-width">
                    <mat-select placeholder="Fuel" formControlName="fuel" [(ngModel)]="newVehicleFormGroup.fuel">
                      <mat-option  *ngFor="let t of fuelTypes" [value]="t">
                        {{t}}
                      </mat-option>
                    </mat-select>
          
                    <mat-hint>Fuel type</mat-hint>
          
                    <mat-error>
                      Fuel is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
          
                <br/>
          
                <div id="yom-mileage">
                  <mat-form-field class="half-width">
          
                    <input matInput 
                        placeholder="Condition" 
                        formControlName="condition"
                        [(ngModel)]="newVehicleFormGroup.condition"
                        >
          
                    <mat-hint>New or Old</mat-hint>
          
                    <mat-error>
                      Condition is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
          
                  <mat-form-field class="half-width">
          
                    <input matInput 
                        placeholder="Color" 
                        formControlName="color"
                        [(ngModel)]="newVehicleFormGroup.color"
                        >
          
                    <mat-hint>Vehicle color</mat-hint>
          
                    <mat-error>
                      Color is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
          
                <!-- <br/>
          
                <div>
                  <button mat-icon-button type="submit"> 
                    <i class="material-icons"> add_circle_outline</i> 
                  </button>
                </div> -->
                  
            
          </mat-card-content>
          <mat-card-actions>
            <button mat-button type="submit">Save</button>
            <button mat-button type="cancel">Cancel</button>
          </mat-card-actions>
    
          </form> 
        </mat-card>
    
      </div>
    </div>

    <!-- result view -->
    <div class="half-2">

      <div id="v-main-image">
        v-main-image
         <br/>
         <form action="submit" method="post" (submit)='uploadImage()'> 
         <input type="file" name="image" (change)="onImageUpload($event)">
          <input type="submit" value="upload">
         </form>

         <input type="button" value="makeid" class="btn btn-primary" (click)="makeid()">

      </div>

      <div id="v-sub-images">
        <div class="v-sub-image">
          v-sub-image-1
        </div>
        <div class="v-sub-image">
          v-sub-image-1
        </div>
        <div class="v-sub-image">
          v-sub-image-1
        </div>
        <div class="v-sub-image">
          v-sub-image-1
        </div>
        <div class="v-sub-image">
          v-sub-image-1
        </div>
        <div class="v-sub-image">
          v-sub-image-1
        </div>
      </div>

      <div id="vehicle-details">
        
        <div>
          <span>
            Make: {{newVehicleFormGroup.make}}
          </span>
  
          <span>
            Model: {{newVehicleFormGroup.model}}
          </span>
          
          <span>
            Body type: {{newVehicleFormGroup.body}}
          </span>
  
          <span>
            Year: {{newVehicleFormGroup.year}}
          </span>
        </div>

        <div>
          <span>
            Mileage: {{newVehicleFormGroup.mileage}}
          </span>
  
          <span>
            Engine: {{newVehicleFormGroup.engine}}
          </span>
  
          <span>
            Price: {{newVehicleFormGroup.price}}
          </span>
          
          <span>
            Transmission: {{newVehicleFormGroup.transmission}}
          </span>
        </div>

        <div>
          <span>
            Fuel type: {{newVehicleFormGroup.fuel}}
          </span>
  
          <span>
            Condition: {{newVehicleFormGroup.condition}}
          </span>
  
          <span>
            Color: {{newVehicleFormGroup.color}}
          </span>
        </div>

      </div>
        
    </div>

  </div>

</div>