.content {
    // border: 1px solid;
}

#menu {
    padding: 5px;
    // width: 170px;
    display: flex;
    height: inherit;
    flex-direction: row;
    justify-content: space-evenly
}

#menu button {
    margin-top: 10px;    
}

#v-input-form {
    display: flex;
    flex-direction: column;
}

#yom-mileage {
    display: flex;
}

.full-width {
    width 100%;    
}

.half-width {
    width 50%;    
}

#create-card {
    width: 300px;
}

div .mat-card-header-text {
    margin: 0px!important;
}

.mat-card-actions {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.halves {
    display: flex; 
    flex-direction: row;    
}

.half-2 {
    width: inherit;
    border: 1px solid black;
    border-top: none;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
}

#v-main-image {
    border: 1px solid;
    border-top: none;
    width: inherit;
    height: 400px;   
}

.v-sub-image {
    border: 1px solid;
    width: 110px;
    height: 70px;
}

#v-sub-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
}

#vehicle-details {
    border: 1px solid;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span {
    // border: 1px solid;
    display: flex;
    width: 200px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
}
