.half-2 {
    width: inherit;
    border: 1px solid black;
    border-top: none;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
}

#v-main-image {
    border: 1px solid;
    border-top: none;
    width: inherit;
    height: 400px;   
}

.v-sub-image {
    border: 1px solid;
    width: 110px;
    height: 70px;
}

#v-sub-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
}

#vehicle-details {
    border: 1px solid;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span {
    // border: 1px solid;
    display: flex;
    width: 200px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
}
