<app-wrapper>
  <div content class="container">
      <!-- result view -->
    <div class="half-2">

      <div id="v-main-image">
        v-main-image
      </div>

      <div id="v-sub-images">
        <div class="v-sub-image">
          v-sub-image-1
        </div>
        <div class="v-sub-image">
          v-sub-image-1
        </div>
        <div class="v-sub-image">
          v-sub-image-1
        </div>
        <div class="v-sub-image">
          v-sub-image-1
        </div>
        <div class="v-sub-image">
          v-sub-image-1
        </div>
        <div class="v-sub-image">
          v-sub-image-1
        </div>
      </div>

      <div id="vehicle-details">
        
        <div>
          <span>
            Make: {{vehicle.make| titlecase }}
          </span>
  
          <span>
            Model: {{vehicle.model| titlecase }}
          </span>
          
          <span>
            Body type: {{vehicle.body| titlecase }}
          </span>
  
          <span>
            Year: {{vehicle.year| titlecase }}
          </span>
        </div>

        <div>
          <span>
            Mileage: {{vehicle.mileage| titlecase }}
          </span>
  
          <span>
            Engine: {{vehicle.engineSize| titlecase }}
          </span>
  
          <span>
            Price: {{vehicle.price| titlecase }}
          </span>
          
          <span>
            Transmission: {{vehicle.transmission | titlecase }}
          </span>
        </div>

        <div>
          <span>
            Fuel type: {{vehicle.fuelType| titlecase }}
          </span>
          <span>
            Condition: {{vehicle.condition| titlecase }}
          </span>  
          <span>
            Color: {{vehicle.color| titlecase }}
          </span>
        </div>
      </div>        
    </div>
  </div>  
</app-wrapper>