<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand nav-link js-scroll-trigger" role="presentation" href="home">Executive</a>
    <button class="navbar-toggler navbar-toggler-right"
      data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto text-uppercase">      
        <ng-content>
        </ng-content>
      </ul>
    </div>
  </div>
</nav>