/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    padding: 0px;
    margin: 0px;
    width: 100%!important;
    height 100%!important;
}

.fixed-top {
    position: sticky!important;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    font-size: inherit;
    line-height: 3em;
    height: 2em!important;
}

.admin-body {
    height: 100vh;
}

