<app-wrapper>
  <div content>
    <div id="content">
      <div id="search">
        <h5> Search </h5>

        <mat-card>
          <!-- vehicle models -->
          <mat-form-field class="search_select">
            <mat-select placeholder="Model">
              <mat-option *ngFor="let v of vehicleMakes" [value]="v.title">
                {{v.title | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- vehicle makes -->
          <mat-form-field class="search_select">
            <mat-select placeholder="Make">
              <mat-option *ngFor="let v of vehicleModels" [value]="v.title">
                {{v.title | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- fuel type -->
          <mat-form-field class="search_select">
            <mat-select placeholder="Fuel type">
              <mat-option *ngFor="let f of fuelTypes" [value]="f">
                {{f | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />

          <!-- Price -->
          <div id="price">
            <div class="label">
              Price
            </div>

            <div class="from_to_wrapper_div">
              <div class="from">
                <mat-form-field class="search_select">
                  <mat-select placeholder="From">
                    <mat-option *ngFor="let p of price" [value]="p">
                      {{p}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="to">
                <mat-form-field class="search_select">
                  <mat-select placeholder="To">
                    <mat-option *ngFor="let p of price" [value]="p">
                      {{p}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

          </div>

          <!-- Year -->
          <div id="price">
            <div class="label">
              Year
            </div>
            <div class="from_to_wrapper_div">
              <div class="from">
                <mat-form-field class="search_select">
                  <mat-select placeholder="From">
                    <mat-option *ngFor="let y of year" [value]="y">
                      {{y}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="to">
                <mat-form-field class="search_select">
                  <mat-select placeholder="To">
                    <mat-option *ngFor="let y of year" [value]="y">
                      {{y}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- Mileage -->
          <div id="price">
            <div class="label">
              Mi
            </div>
            <div class="from_to_wrapper_div">
              <div class="from">
                <mat-form-field class="search_select">
                  <mat-select placeholder="From">
                    <mat-option *ngFor="let m of mileage" [value]="m">
                      {{m}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="to">
                <mat-form-field class="search_select">
                  <mat-select placeholder="To">
                    <mat-option *ngFor="let m of mileage" [value]="m">
                      {{m}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <mat-form-field class="search_select">
            <mat-select placeholder="Body type">
              <mat-option *ngFor="let b of bodyType" [value]="b">
                {{b | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="search_select">
            <mat-select placeholder="Transmission">
              <mat-option *ngFor="let t of transmission" [value]="t">
                {{t | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>

      </div>

      <div id="result">
        <h5> Vehicles Available </h5>
        <div id="result-cards" *ngFor="let i of vehicles">
          <mat-card class="result-card" (click)="selCard(i)">

            <div id="v-pic-slider">

            </div>
            <!-- <a routerLink="/home"> -->
            <div id="v-details">
              <span class="v-details-columns">
                <label for="make"><h5> Make </h5></label>
                <div style="font-size: 13px;"> {{i.make | titlecase}} </div>
              </span>

              <span class="v-details-columns">
                <label for="make"><h5> Model </h5></label>
                <div style="font-size: 13px;"> {{i.model | titlecase}} </div>
              </span>

              <span class="v-details-columns">
                <label for="make"><h5> Year </h5></label>
                <div style="font-size: 13px;"> {{i.year | titlecase}} </div>
              </span>

              <span class="v-details-columns">
                <label for="make"><h5> Mileage </h5></label>
                <div style="font-size: 13px;"> {{i.mileage | titlecase}} </div>
              </span>

              <span class="v-details-columns">
                <label for="make"><h5> Price </h5></label>
                <div style="font-size: 13px;"> {{i.price | titlecase}} </div>
              </span>


            </div>
            <!-- </a> -->

          </mat-card>
        </div>
      </div>
    </div>
  </div>
</app-wrapper>