#content {
    display: flex;
    padding: 0px 150px;    
    background-color: #f4f4f4;
}

a {
    color: black;
    text-decoration: none;
}

#search {
    width: 25%;
    margin: 10px 10px; 
    border-radius: 5px;
    border: 1px solid rgba(52, 58, 64, 0.4);
    padding: 0px 5px;
    background: #F9F9F9;
}


.search_select {
    width: 100%;
}

#price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    // border: 1px solid;
}

.mat-card {
    padding: 5px!important;
}

.mat-form-field {
    height: 50px!important;
    font-size: 14px;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 5%;
}

.from_to_wrapper_div {
    display: flex; 
    justify-content: space-around; 
    width: 180px;
}

.from, .to {
    width: 50%;    
    padding: 0px 0px;
    display: flex;
}

#result {
    width: 70%;
    // border: 1px solid red;
    height: 80vh;
    margin: 10px 10px;     
}

.result-card {
    display: flex;
    flex-direction: row;    
    margin-bottom: 5px;
}

#result-cards :hover {
    box-shadow: none;
    cursor: pointer;
}

tr.mat-header-row {
    height: 30px;
}

#v-pic-slider {
    width: 150px;
    height: 80px;
    border: 1px solid black;    
}

label {
    color: #b2b2b2;
} 

#v-details {
    width: 100%;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.v-details-columns {
    display: flex;    
    flex-direction: column;
    // border: 1px solid black;
    justify-content center;
    width: 100px;
}